<div id="page">
  <div class="post">
    <h2 class="title">$content.title</h2>
    <p class="byline"><small>Posted by <span class="author"></span></small></p>
    <div class="entry"></div>
    <div class="meta">
      <p class="links">
        <a href="#" class="comments"></a>
        <span class="tags">&nbsp;&bull;&nbsp;&nbsp;
          <a href="#" class="tag"></a>
        </span>
        &nbsp;&bull;&nbsp;&nbsp;
        <a href="#" class="more">Read full post &raquo;</a>
      </p>
    </div>
  </div>
</div>
