<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>tycho.ws - </title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.css"/>
  </head>
<body>
<div id="header">
  <div id="logo">
    <h1>Chronicles of a tall guy</h1>
    <p>Home of Tycho Andersen on the internets</p>
  </div>
  <div id="menu">
    <ul class="recent">
      <li class="first"><a href="/">Home</a></li>
      <li><a href="/music.html">Music</a></li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <div id="sidebar-bgtop"></div>
  <div id="sidebar-content">
    <ul>
      <li>
        <h2>Recent Posts</h2>
        <ul>
          <li class="recentPost"><a href="#"></a> by <span class="author"></span></li>
        </ul>
      </li>
      <li>
        <h2>Recent Comments</h2>
        <ul>
          <li class="recentComment"><span class="name"></span> on <a href="#"></a></li>
        </ul>
      </li>
      <li>
        <h2>Archives</h2>
        <ul class="archives">
          <li class="archive"><a href="#"></a></li>
        </ul>
      </li>
      <li class="tags">
        <h2>Tags</h2>
        <p><a href="#" class="tag"></a></p>
      </li>
    </ul>
  </div>
  <div id="sidebar-bgbtm"></div>
</div>

<div id="content"></div>

<div id="footer"></div>
</body>
</html>
