<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>tycho.ws - </title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/post.js"></script>
  </head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Blog</a></li>
          <li><a href="/misc.html">Miscellany</a></li>
          <li><a href="/music.html">Music</a></li>
          <li><a href="/useful.html">Useful</a></li>
        </ul>
        <ul class="nav" style="float: right;">
          <li><a href="/archives">Archives</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--
  <div class="well" style="max-width: 340px; padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Recent Comments</li>
      <li class="recentComment"><span class="name"></span> on <a href="#"></a></li>
    </ul>
  </div>
  -->

  <div id="content" class="container" style="padding-top: 50px;"></div>
</body>
</html>
