<div>
<div class="page well">
  <h2 class="title"></h2>
  <p class="byline">
    <small>Posted by <span class="author"></span> on <span class="date"></span></small>
  </p>
  <div class="content"></div>
  <div class="meta">
    <p class="links">
      <span class="tags">
        Tags: <a href="#" class="tag"></a>
      </span>
    </p>
  </div>
</div>
<div class="well">
<h3>Comments</h3>
  <div class="comment well">
    <p><a href="#" class="name"></a> at <span class="datetime"></span>:</p>
    <div class="payload"></div>
  </div>
  <div class="well">
    <form method="post" action="/comments.php" class="form-horizontal">
      <fieldset>
        <legend>Post a comment</legend>
        <div class="control-group">
          <label class="control-label" for="name">Name (required):</label>
          <div class="controls">
            <input name="name" type="text">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input name="email" type="text">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="url">URL:</label>
          <div class="controls">
            <input name="url" type="text">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="orange">Type "orange" (without quotes) here:</label>
          <div class="controls">
            <input name="orange" type="text">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="payload">Payload:</label>
          <div class="controls">
            <textarea name="payload" class="input-xxlarge" rows="4"></textarea>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</div>
